@font-face {
  font-family: "Pretendard";
  src: url("../../public/assets/font/PretendardVariable.ttf");
}

:root {
  /* Grayscale */
  --gray50: #ffffff;
  --gray100: #f7f7fa;
  --gray200: #e4e5f0;
  --gray300: #c6cada;
  --gray400: #8f95b2;
  --gray500: #474d66;
  --gray600: #3b415b;

  /* Primary-green */
  --green100: #eef9f6;
  --green200: #4cbfa4;
  --green300: #32a68a;

  /* Secondary-Red */
  --red100: #fbeded;
  --red200: #d14343;

  /* Secondary-Purple */
  --purple: #8e66ff;

  /* Secondary-Yellow */
  --yellow: #fdd181;

  /* font-size */
  --font-size-xsmall: 10px;
  --font-size-small: 16px;
  --font-size-medium: 20px;
  --font-size-large: 30px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 50px;

  /* line-height */
  --line-height-xsmall: 11px;
  --line-height-small: 18px;
  --line-height-medium: 23px;
  --line-height-large: 34px;
  --line-height-xlarge: 37px;
  --line-height-xxlarge: 57px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
input,
textarea,
button {
  font-family: "Pretendard";
}
