@font-face {
  font-family: "Pretendard";
  src: url("../../public/assets/font/PretendardVariable.ttf");
}

:root {
  /* Grayscale */
  --gray50: #ffffff;
  --gray100: #f7f7fa;
  --gray200: #e4e5f0;
  --gray300: #c6cada;
  --gray400: #8f95b2;
  --gray500: #474d66;
  --gray600: #3b415b;

  /* Primary-green */
  --green100: #eef9f6;
  --green200: #4cbfa4;
  --green300: #32a68a;

  /* Secondary-Red */
  --red100: #fbeded;
  --red200: #d14343;

  /* Secondary-Purple */
  --purple: #8e66ff;

  /* Secondary-Yellow */
  --yellow: #fdd181;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
input,
textarea,
button {
  font-family: "Pretendard";
}
