.main_container {
  background-color: #ecf0fa;
  width: 100%;
  min-height: 100vh;
}

.main_title_container {
  text-align: center;
  padding-top: 200px;
}

.main_title_box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main_title > h4 {
  font-size: 60px;
  font-weight: 300;
  line-height: 70px;
  color: var(--gray500);
}

.main_title > h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  color: var(--gray500);
}

.main_title_box button {
  padding: 15px 30px;
  background-color: var(--gray500);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.main_title_img {
  position: relative;
  z-index: 10;
  max-width: 498px;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.main_title_line {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: var(--gray500);
  bottom: 0px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

//write
.main_write_container {
  background-color: var(--gray500);
  padding: 200px 0;
}

.main_wirter_box {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.main_wirter_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main_wirter_content h4 {
  color: var(--green200);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.main_wirter_content p {
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
  color: #ffffff;
}

.main_wirter_content .main_wirter_content_img {
  max-width: 364px;
  height: auto;
}

// share
.main_share_container {
  background-color: #f1f4fd;
  padding: 200px 0;
}

.main_share_box {
  max-width: 800px;
  text-align: end;
  margin: 0px auto;
  padding-bottom: 100px;
}

.main_share_box h4 {
  color: var(--green200);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding-bottom: 20px;
}

.main_share_box p {
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
}

.main_share_img_box {
  display: flex;
  justify-content: space-around;
}

//view

.main_view_container {
  padding: 200px 0;
}

.main_view_box {
  max-width: 900px;
  margin: 0 auto;
}

.main_view_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
}

.main_view_content h4 {
  color: var(--green200);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.main_view_content p {
  color: var(--gray500);
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
}

.main_view_img_box {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main_view_img {
  display: flex;
  gap: 35px;
}

//  start_mes
.main_start_mes_container {
  background-color: var(--gray500);
  padding: 200px 0;
  text-align: center;
}

.main_start_mes_container > h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  padding-bottom: 50px;
}

.main_start_mes_container > button {
  color: var(--gray500);
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

// footer
.main_footer {
  background-color: var(--gray600);
  padding: 100px 0px 100px 100px;
  color: #ffffff;
}

.main_footer h4 {
  font-size: 16px;
  font-weight: 700;
}

.main_footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.main_footer_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.main_footer_provision {
  display: flex;
  gap: 100px;
}
